*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  

}
.page-1{
    overflow-x: hidden;
}
.page-1 .btn{
    
    background: linear-gradient(90deg, #63e6e8, #78bfcc);
    color: #000;
    border: none;
    padding: 12px 35px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;

}
.image-col{
display: flex;
height: 600px;
}

@media (max-width: 576px) 
    {
        .row{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    }

    @media (max-width: 697px) {
        .logo{
            align-items: center;
       
        }
        .row h1{
            text-align: center;
        }
        .row p{
            text-align: center;
        }

        .row 
    }

     @media (max-width: 766px) {
 .row h1{
            text-align: center;
        }
        .row p{
            text-align: center;
        }
.btn{
    margin-bottom: 15px;
}
     }
    